<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <!-- <meta name="viewport" content="initial-scale=1,maximum-scale=1"/> -->
    <title>CS290 Final Project - Giovanni Rosati</title>
    <!-- Bootstrap -->
    <link src="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- styles -->
    <link rel"stylesheet" type="text/css" src="/css/style.css">
</head>
<body>
    {{{body}}}
    <!-- Scripts -->
    <script src="/scripts/jquery-3.1.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
</body>
</html>
